.Maior {
    flex-direction: row-reverse;
}

.Menor {
    color:red;
    background-color: blue;
}

.titulos {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Geneva";
    color: white;
}

.mini {
    text-decoration: none;
    text-align: center;
    color: white;
    margin-left: 150px;
}
.campo-investimento {
    margin-left: 700px;
    border-radius: 100%;
    height: 500px;
    background-color:rgb(219, 11, 219) ;
    color: white;

}

.campo-investimento-dois {
    margin-left: 700px;
    border-radius: 100%;
    height: 500px;
    background-color:rgb(90, 129, 129) ;
    color: white;

}

.avanco-volta {
    flex-direction: row;
    justify-content: space-between;
    background-color: aqua;
}

.palavras {
    font-size: 40px;
    margin-left: 100px;  
    margin-top: 75px;  
}

.container {
	max-width: 420px;
	height: 300px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-wrap: wrap;
}
/* Flex Item */
.item {
	flex: 1;
	margin: 5px;
	padding: 0 10px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}


.body_inicial {
    background-image: url(calculadora-de-investimentos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:yellow;
    text-align: justify;
    margin-top: 50px;
    font-size: 70px;
    margin-left: 110px ;
}


.teste {
    color: green;
    text-align: justify;
    font-size: 70px;
    margin-left: 10px ;
    text-decoration: none;
}

p {
    font-size: 32px;
    margin-left:110px ;
}

button {
    background-color: yellow;
    font-size: 32px;
    margin-left: 220px ;
}

 /* PAGINA_2  */

body {
    background-image: url(transferir.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-group {
    margin-top: 150px;
}


.colunaPrincipal {
    margin-left: 110px;
}

.menu-inicial {
    margin-top: 30px;
    font-size: 4px;
    margin-left: 50px;
}

.cartao {
    font-size: 18px;
    text-align: center;
}

.cartao-top {
    font-size: 18px;
    text-align: center;
    
}

.plataforma {
    margin-top: 26px;
    color:yellow;
    font-size: 35px;
}

.linkar {
    text-align: center;
    font-size: 17px;
    color:antiquewhite;

}

h2, h3 {
    text-align: justify;
    font-size: 20px;
    margin-left: 110px ;
}

h2 {
    margin-top: 50px;
    color: rgb(236, 138, 102);
}

.voltar {
    margin-left: 110px;
    margin-bottom: 20px;
}

.formulario {
    font-size: 22px;
    margin-left: 110px ;
}

.formulario-pt2 {
    margin-left: 360px;
    font-size: 22px;
    margin-top: 40px;
}

.formulario-pagina-extra {
    font-size: 30px;
    margin-top: 10px;
    margin-left: 700px;
    text-align: center;
}

.inseri {
    border-radius: 10px;
    font-size: 30px;
}

.inseri-resultado {
    border-radius: 10px;
    font-size: 30px;
    background-color: yellow;
}

.inseriM {
    border-radius: 10px;
    font-size: 30px;
    margin-left: 20px;
}

.rodape-pagina {
    font-size: 20px;
}

.info-adicional {
    font-size: 10px;
    margin-left: 250px;
    margin-top: 60px ;
}

.info-adicional-1 {
    font-size: 14px;
}

.tabela-geral {
    margin-right: 110px;
    margin-left: 110px;
    margin-top: 30px;
}

.conhecer-mais-parte-dois {
    margin-left: 1040px;
}

.plataforma-comparaçao {
    margin-top: 26px;
    color:yellow;
    font-size: 45px;
} 

.aba-selecao {
    margin-left: 1000px ;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cartao-principal {
    margin-left: 100px;
    margin-right: 30px;
}

.parte-inferior {
    margin-bottom: -0px;
}

.texto-cartao {
    font-size: 18px;
    text-align: left;
}

.parte-two {
    margin-top: 50px;
}

.ok {
    margin-left: 110px;
    text-align: center;
}

.titulo-cartao-cdb-dois {
    font-size: 18px;

}

.voltar-index9 {
    margin-left: 1px;
}

.conhecer-mais-parte-dois-index9 {
    margin-left: 880px;
}

.apresentar-cdb {
    margin-left: 110px;
    padding-right:70px;
}

.apresentar-usuario {
    margin-left: 110px;
}

.card-feedback {
    margin-left: 50px;
}

.adicao-comentario {
    margin-left: 10px;
    font-size:30px;
}

.calculo {
    margin-left: 0px;
    border-radius: 10px;
    font-size: 26px;
} 

.referencia-nova {
    text-decoration: none;
    color:black;
}

.cor-da-letra {
    color: whitesmoke;
}

.cdb-102{
    color: whitesmoke;
}

.subtitulo {
    color: yellow;
    font-size: 27px;
}

.letrinhas {
    font-size: 25px;
}

.opaco {
    color:white;
    background-attachment: white;
}

.botao-final{
    margin-top: 200px;
    margin-left: -50px;
}

.direcao_do_investimento { 
    text-decoration: none;
    color:black;
}

.direcao_do_investimento:hover {
    background-color: greenyellow
}

.calcular_rever {
    margin-top: 30px;
    margin-left: -110px;
     
}

#calcular_rever-pagina-extra {
    margin-top: 30px;
    margin-left: 700px;
}


.botao_especifico {
    margin-left: 4000000px ;
    margin-bottom: 50px;
}

.botao-novo-previdencia {
    background-color: peru;
}

.flex-previdencia {
    margin-left: 60px;
    margin-right: 60px;
    font-size:19px;
    text-align: center;
    background-color: aliceblue;
}

.flex-previdencia:hover {
    background-color: greenyellow;
}

.buton-previdencia {
    text-decoration:none ;
    color: black ;
}

.class-a-mais {
    margin-left: 200px;
    margin-right: 250px;
    border-radius: 100px ;
}

/*.card-body {
    border-radius: 100px;

}



.col {
   

*/

.outra-col {
    margin-right: 250px;
    margin-left: 350px;
    border-radius: 100px;  

}




.botao-investimento { 
    text-decoration: none;
    color:white;
}

.botao-investimento:hover {
    background-color:yellowgreen
}