body {
    background-image: url(calc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: yellow;
    text-align: justify;
    margin-top: 50px;
    font-size: 70px;
    margin-left: 110px ;
}

p {
    font-size: 32px;
    margin-left:110px ;
}

button {
    background-color: yellow;
    font-size: 32px;
    margin-left: 220px ;
}